*{
    margin: 0;
    padding: 0;
}

.main{
    display: flex;
    flex-direction: row;
    height: 100vh;
    color: #fff;
}

.left{
    flex-basis: 30%;
    background: rgb(70, 224, 70);
    padding: 10px;
}
.left a{
    text-decoration: none;
    color: #fff;
    display: block;
    border: 1px solid gray;
    width: 100px;
    padding: 15px 15px;
    margin: 20px 5px;
    border-radius: 30px;
    text-align: center;
}

.right{
    flex-basis: 70%;
    background: rgb(182, 96, 221);
    padding: 15px;
}

.student-main{
    background: purple;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    padding: 25px;
    border-radius: 20px;
    
}
.student-data{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0;
    border: 1px solid rgb(209, 113, 209);
    padding: 10px;
    border-radius: 10px;
}
.student-data p{
   margin-left: 80px;
}
.student-data button{
   padding: 10px 15px;
   border: 0;
   outline: none;
   border-radius: 10px;
   cursor: pointer;
}

